[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
python-multipart = "*"
starlette = "*"
uvicorn = "*"
jinja2 = "*"
faiss-cpu = "*"
elasticsearch = "*"
numpy = "*"
tensorflow = "*"
tensorflow-hub = "*"
tensorflow-text = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.7"
