<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>mitera</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
   </head>
   <body>
      <section>
         <div class="container">
            <div class="alert alert-primary text-center my-4">
               <h5>Militärisches Technologie Radar, more details: </h5>
               <a href="https://taris.fkie.fraunhofer.de:8443/sri.sai.praveen.gadiyaram/technology_scouting_from_newsfeeds.git" target="_blank">Source code</a>
            </div>
            <button type="button" style="margin:5px;" onclick="document.location.href='/mda/validate_technology'" class="btn btn-primary btn-md">Validate Technology docs</button>
            <button type="button" style="margin:5px;" onclick="document.location.href='/mda/validate_military'" class="btn btn-primary btn-md">Validate Military docs</button>
            <button type="button" style="margin:5px;" onclick="document.location.href='/mda/validate_augdata'" class="btn btn-primary btn-md">Validate Augmented docs</button>
            <button type="button" style="margin:5px;" onclick="document.location.href='/mda/validate_pos_docs'" class="btn btn-primary btn-md">Classified positive docs</button>
            <button type="button" style="margin:5px;" onclick="document.location.href='/mda/search_keyword'" class="btn btn-primary btn-md">Search Newfeeds</button>
            <!-- <button type="button" style="margin:5px;" onclick="document.location.href='/mda/search_subtopic'" class="btn btn-primary btn-md">Search using Sub-topic</button> -->
            <button type="button" style="margin:5px;" onclick="document.location.href='/mda/search_survey'" class="btn btn-primary btn-md">Survey</button>
         </div>
      </section>
   </body>
</html>