<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>mitera</title>
      <!-- <script src="{{url_for('static', path='scripts/popper.min.js')}}"></script> -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
   </head>
   <body  onload="loadFunction()">
      <section>
         <div class="container">
            <div class="alert alert-primary text-center my-4">
               <h5>MiTeRa, Militärtechnik-Radar, mehr Details: </h5>
               <a href="https://taris.fkie.fraunhofer.de:8443/sri.sai.praveen.gadiyaram/technology_scouting_from_newsfeeds.git" target="_blank">Quellcode</a>
            </div>
            <div class="row justify-content-center">
               <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                  <!-- <div class="row">
                     <div class="col text-center">
                        <h3>Search Newsfeeds</h3>
                     </div>
                  </div> -->
                  <form action="/mda/sub_topic_keywords_search" method="POST" id='formid'>
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Suchanfrage</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name='query' id='query' value="{{query}}" required>
                  </div>
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Minimum cluster size (Hdbscan)</span>
                     </div>
                    <input type="number" min="1" value="20" class="form-control" id="min_clust_size" name="min_clust_size">
                  </div>

                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Minimum samples (Hdbscan)</span>
                     </div>
                    <input type="number" min="1" value="10" class="form-control" id="min_samples" name="min_samples">
                  </div>

                  <button type="button" class="btn btn-primary" style="margin:5px; " id="sub_topic" onclick="get_sub_topics(this);">
                     <span class="spinner-border spinner-border-sm" id="loader"></span>
                     Sub-topics abrufen
                  </button>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                       <span class="input-group-text" id="inputGroup-sizing-default">Sub-topic (Terms|Documents)</span>
                    </div>

                    <select class="form-select form-control" name="sub_topic_selected" id="select-subtopic" aria-label="Default select example">
                     {% for sub_topic in sub_topic_list %}
                     <option value= "{{sub_topic['id']}}" >{{sub_topic['name']}}</option>"
                     {% endfor %}

                    </select>
                 </div>

                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text" id="inputGroup-sizing-default">Sprache</span>
                        </div>
                        <select class="form-select form-control" name="lang" id="select-doc" aria-label="Default select example">
                           <option value="1">deutsch</option>
                           <option value="2">englisch</option>
                           <option value="3" selected>multilingual</option>
                        </select>
                     </div>
                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text" id="inputGroup-sizing-default">Anzahl der Abrufe</span>
                        </div>
                       <input type="number" min="1" value="15" class="form-control" id="match_top" name="match_top">
                     </div>

                     <div class="m-2">
                        <div class="btn-group  btn-group-toggle">
                            <input type="radio" class="btn-check" name="search_type" value="es_search" id="radio1" autocomplete="off" disabled>
                            <label class="btn btn-outline-primary" for="radio1">BM-25 Suche</label>
                        
                            <input type="radio" class="btn-check" name="search_type" value="semantic_search" id="radio2" autocomplete="off" disabled>
                            <label class="btn btn-outline-primary" for="radio2">Semantische Suche</label>

                            <input type="radio" class="btn-check" name="search_type" value="optimistic_search" id="radio3" autocomplete="off" disabled>
                            <label class="btn btn-outline-primary" for="radio3">Optimistische Suche</label>

                            <input type="radio" class="btn-check" name="search_type" value="top_candidate_pool" id="radio3" autocomplete="off" disabled>
                            <label class="btn btn-outline-primary" for="radio3">Top candidate pool</label>

                            <input type="radio" class="btn-check" name="search_type" value="semantic_search" id="radio2" autocomplete="off" checked>
                            <label class="btn btn-outline-primary" for="radio2">Sub-topic Suche</label>

                        </div>
                    </div>
                  
                  <div class="form-check">
                     <input class="form-check-input" type="checkbox" value="True" id="flexCheckDefault" name="phrase_query" >
                     <label class="form-check-label" for="phrase_search">Phrasensuche</label>
                  </div>
                  <div class="form-check">
                     <input class="form-check-input" type="checkbox" value="True" id="flexCheckDefault" name="fuzzy_query" >
                     <label class="form-check-label" for="fuzzy_search">Fuzzysuche</label>
                  </div>
                  <!-- <div class="form-check">
                     <input class="form-check-input" type="checkbox" value="True" id="flexCheckDefault" name="search_concept" disabled>
                     <label class="form-check-label" for="concept_search">Search Concept</label>
                  </div>
                  <div class="form-check">
                     <input class="form-check-input" type="checkbox" value="True" id="flexCheckDefault" name="search_archive" disabled>
                     <label class="form-check-label" for="search_archive">Search Archive</label>
                  </div> -->

                  <button type="submit" class="btn btn-primary mt-4">Suchen</button>
                  <br>
                  <br>
                  <br>

                  <table class="table table-striped table-hover border table-sm">
                     <thead>
                        <tr>
                          <th scope="col">S No.</th>
                          <th scope="col">Suchparameter</th>
                          <th scope="col">Werte</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                           <th scope="row">1</th>
                           <td>Original-Abfrage</td>
                           <td>{{search_data['original_query']}}</td>
                         </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Such Typ</td>
                          <td>{{search_data['search_type']}}</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Searchstrategie</td>
                          <td>{{search_data['search_strategy']}}</td>
                        </tr>
                         <tr>
                           <th scope="row">4</th>
                           <td>Sprache</td>
                           <td>{{search_data['language']}}</td>
                         </tr>
                         <tr>
                           <th scope="row">6</th>
                           <td>Kommentare</td>
                           <td>{{search_data['comments']}}</td>
                         </tr>
                      </tbody>
                  </table>

                  <input type="hidden" name="UserID"  id="original_query" value="{{search_data['original_query']}}"/>

                  <br>
                  <div class="row">
                     <div class="col-8 d-flex justify-content-center text-center">
                        <h5>Anzahl der gefundenen Top-Dokumente: {{total_hits}}</h5>
                     </div>
                  </div>
                  <br>
               </div>
            </div>
            {% for data in result_list %}
            <div class="card">
               <div class="card-header">
                  <h5 class="card-title">Titel:    {{data['title']}}</h5>
                  <h5 class="card-title">Veröffentlicht am:    {{data['pub_date']}}</h5>
               </div>
               <div class="card-body">

                  <p  class="card-text">{{data['text']}} </p>
                   <a href="javascript:void(0);" class="readmore-btn">Mehr lesen</a>
                   <br>
                   <br>

                  <!-- <a href="{{data['page_url']}}" class="btn btn-primary"  target="_blank">source</a> -->
                 
               </div>

               <!-- <div class="card-footer">
                     <label for="select" style="float: left; vertical-align: baseline;"><h5>Dokumentenlabel für die Suche auswählen:   </h5> </label>
                     <select class="form-select" style="width:200px;float: left;margin-left: 10px;vertical-align: baseline;" id="select_{{data['id']}}" aria-label="Default select example">
                        <option class="dropdown-item" type="button" value="1">Perfekt (1)</option>
                        <option class="dropdown-item" type="button" value="2">Teilweise relevant (2)</option>
                        <option class="dropdown-item" type="button" value="3">Irrelevant (3)</option>
                        <option class="dropdown-item" type="button" value="4">Falsch (4)</option>
                     </select>
                     <button type="button" class="btn btn-primary" style="float: right; vertical-align: baseline;" id="{{data['id']}}" onclick="save_document_label(this);">Bestätigen</button>
               </div> -->
            </div>
            <br>
            {% endfor %}
            <!-- {% for data in concept_list %}
            <div class="col-sm-3">
               <div class="card">
                  <div class="card-body">
                     <h5 class="card-title">{{data['term']}}: {{data['hits']}}</h5>
                  </div>
               </div>
            </div>
            {% endfor %} -->
         </div>
      </section>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      
      <script> 
      $(".readmore-btn").on('click', function(){
         $(this).parent().toggleClass("showContent");
         var replaceText = $(this).parent().hasClass("showContent") ? "Weniger lesen" : "Mehr lesen";
         $(this).text(replaceText);
      });

      function myFunction() {
         document.getElementById("loader").style.display = "none";
      }

      async function get_sub_topics(e) {
         document.getElementById("loader").style.display = "True";

        try {
            var query = document.getElementById("query");
            var min_clust_size = document.getElementById("min_clust_size");
            var min_samples = document.getElementById("min_samples");

            console.log(query.value)

            var formData = new FormData();
            formData.append('query', query.value);
            formData.append('min_clust_size', min_clust_size.value);
            formData.append('min_samples', min_samples.value);


            var response = await fetch('/mda/get_sub_topics', {
                method: 'POST',
                body: formData
            });
            
            
        let data = await response.json();
         console.log(typeof data);
         // console.log(data);

         parsed_data = JSON.parse(data);
         // console.log(parsed_data);

         $('#select-subtopic').empty();
         
         $.each(parsed_data, function(i, option) {
        $('#select-subtopic').append($('<option/>').attr("value", option.id).text(option.name));
      	});

         document.getElementById("loader").style.display = "none";
            
        } catch (error) {
            console.error(error);
        }
        }


      async function save_document_label(e) {

      try {
            var select_dropdown = document.getElementById("select_"+e.id);
            var original_query = document.getElementById("original_query");

            console.log("select_"+e.id)
            console.log(original_query.value)
            console.log(select_dropdown.value)

            var parent = e.parentElement.parentElement;
            console.log(parent)
            parent.parentElement.removeChild(parent);

            var formData = new FormData();
            formData.append('doc_id', e.id);
            formData.append('query', original_query.value);
            formData.append('label', select_dropdown.value);

            var response = await fetch('/mda/save_document_label', {
               method: 'POST',
               body: formData
            });
            
            
         let data = await response.json();
            data = JSON.parse(data)
            console.log(data);
            
            
         } catch (error) {
            console.error(error);
         }
      }

      
      </script>

   </body>

<style>

.card-body p{
   font-size: 17px;
   line-height: 30px;
   height: 90px;
   overflow: hidden;
}

.card-body a{
   font-size: 17px;
}

.card-body.showContent p{
   height: auto;
}




/* .card-body.showContent a.readmore-btn{
   font-c: red;
} */



</style>



</html>